<template>
    <transition name="overlay-fade">
        <div v-if="visibility.overlay"
             ref="overlay"
             :class="overlayClass"
             :aria-expanded="visible.toString()"
             :data-modal="name"
             @mousedown.stop="onBackgroundClick"
             @touchstart.stop="onBackgroundClick">
            <transition :name="transition">
                <div v-if="visibility.modal"
                     ref="modal"
                     :class="modalClass"
                     @mousedown.stop
                     @touchstart.stop>
                    <div class="v--modal-top-right"
                         @mousedown.stop="onBackgroundClick"
                         @touchstart.stop="onBackgroundClick">
                        <slot name="top-right"/>
                    </div>
                    <slot/>
                </div>
            </transition>
        </div>
    </transition>
</template>
<script>
    import Vue         from 'vue'
    import Modal       from './index'

    export default {
        name: 'VueJsModal',
        props: {
            name: {
                required: true,
                type: String
            },
            scrollable: {
                type: Boolean,
                default: false
            },
            transition: {
                type: String
            },
            clickToClose: {
                type: Boolean,
                default: true
            },
            classes: {
                type: [String, Array],
                default: 'v--modal'
            }
        },
        data () {
            return {
                visible: false,

                visibility: {
                    modal: false,
                    overlay: false
                },

            }
        },
        watch: {
            visible (value) {
                if (value) {
                    this.visibility.overlay = true

                    setTimeout(() => {
                        document.body.classList.add('overflow')
                        this.visibility.modal = true
                    }, 0)
                } else {
                    this.visibility.modal = false

                    setTimeout(() => {
                        document.body.classList.remove('overflow')
                        this.visibility.overlay = false
                    }, 0)
                }
            }
        },
        /**
         * Sets global listeners
         */
        beforeMount () {
            Modal.event.$on('toggle', (name, state, params) => {
                if (name === this.name) {
                    if (typeof state === 'undefined') {
                        state = !this.visible
                    }

                    this.toggle(state, params)
                }
            })
        },
        computed: {
            /**
             * Returns class list for screen overlay (modal background)
             */
            overlayClass () {
                return {
                    'v--modal-overlay': true,
                    'scrollable': this.scrollable
                }
            },
            /**
             * Returns class list for modal itself
             */
            modalClass () {
                return ['v--modal-box', this.classes]
            }
        },
        methods: {

            /**
             * Generates event object
             */
            genEventObject (params) {
                // @todo: clean this up (change to ...)
                let data = {
                    name: this.name,
                    timestamp: Date.now(),
                    canceled: false,
                    ref: this.$refs.modal
                };

                return Vue.util.extend(data, params || {})
            },

            /**
             * Event handler which is triggered on $modal.show and $modal.hight
             */
            toggle (state, params) {
                const { visible } = this;

                const beforeEventName = visible
                  ? 'before-close'
                  : 'before-open';

                const afterEventName = visible
                  ? 'closed'
                  : 'opened';

                let stopEventExecution = false;

                const stop = () => {
                    stopEventExecution = true
                };

                const beforeEvent = this.genEventObject({stop, state, params});

                this.$emit(beforeEventName, beforeEvent);

                if (!stopEventExecution) {
                    const afterEvent = this.genEventObject({state, params});
                    this.visible = state;
                    this.$emit(afterEventName, afterEvent)
                }
            },

            /**
             * Event handler that is triggered when background overlay is clicked
             */
            onBackgroundClick () {
                if (this.clickToClose) {
                    this.toggle(false)
                }
            },
        }
    }
</script>